* {
    font-family: 'Creepster', cursive;
  }
  .body {
    background-color: #3A3838;
  }

  * {
    font-family: 'Creepster', cursive;
  }
  .body {
    background-color: #3A3838;
  }
  .retangulo {
    position: relative;
    width: auto;
    max-width: 1200px;
    height: 500px;
    background: #312E2E;
    border: 1px solid #FFFFFF;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .input-label {
    color: #FFFFFF;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
    margin-left: 350px;
    margin-bottom: 50px;
  }
  
  #chaveSalaWrapper {
    display: none;
  }
  .custom-button {
    border-radius: 40px;
    min-width: 200px;
    height: 53px;
    margin-top: 20px;
    background: #6B4EFF;
    border: none;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    letter-spacing: 1px;
    color: #000;
    box-shadow: 0 8px 24px 0 rgba(255, 235, 167, .2);
    margin-left: 180px;
}

.custom-button:active,
.custom-button:focus {
    color: #000;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
}

.custom-button:hover {
    color: #000;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
    transform: translateY(-2px);
    text-decoration: none;
}

  .col-lg-4 a {
    text-decoration: none;
    color: inherit; /* opcionalmente, você pode definir a cor do texto para herdar o valor padrão */
  }
.titulo{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-sala{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
@media (max-width: 567px)
{
    input {
        margin-left: 20px;
        max-width: 400px;
    }

    .custom-button{
        margin-left: 100px;
    }
}