* {
  font-family: 'Creepster', cursive;
  padding: 0;
  margin: 0;
  }
.body {
    background-color: #3A3838;
}
#nomeSala{
  color: #fff;
  margin-top: 8vh;
  margin-left: 7vw;
}
#codigo-sala{
  color: #fff;
  margin-top: 8vh;
  margin-left: 7vw;
}
svg{
  margin-top: 3vh;
}
#chat-messages {
  position: absolute;
  width: 100%;
  max-width: 1100px;
  height: 410px;
  margin-left: 80px;
  background: #312E2E;
  border: 1px solid #FFFFFF;
  color: #fff;
  padding: 3px;
  overflow: auto; /* Adicione esta linha para habilitar a rolagem caso o conteúdo exceda a altura definida */
}
  #chat-input {
    position: relative;
    bottom: 40px;

    color: #000;
  }
  #message-input {
    width: 900px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 15px;
    outline: none;
    box-shadow: none;
    margin-left:25px;
    background-color: #312E2E;
    color: #fff;
    margin-top: 480px;
    margin-left: 80px;
  }
#send-button {
  padding: 5px 5px;
  border-radius: 40px;
  width: 150px;
  margin-top: 480px;
  margin-right: 10px;
}
@media (max-width: 567px)
{
  svg{
    margin-right: 70vw;
  }
  #chat-messages{
    margin-left: -1vw;
  }

  #send-button{
    width: 100px;
  }
  #message-input{
    width: 220px;
    margin-left: -10px;
  }
}
.user-name {
  color: #fff; /* Altere para a cor desejada */
}
.message-balloon {
  display: inline-block;
  background-color: #d3d3d3;
  padding: 8px;
  border-radius: 5px;
  width: auto;
  height: 40px;
  margin-left: 20px;
  margin-top: -15px;
  color: #000;
}
/* Estilo para as mensagens estáticas */
.static-message {
  display: inline-block;
  background-color: #d3d3d3;
  padding: 8px;
  border-radius: 5px;
  color: #000;
}